<h1><%= @restaurant.name %></h1>

<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<% @restaurant.reviews.each do |review|  %>
  <ul>
    <li><%= review.content %></li>
    <li><%= review.rating %></li>
  </ul>
<% end  %>

<%= link_to 'add review', new_restaurant_review_path(@restaurant)%>


<%= link_to 'back', restaurants_path %>
